[user]
	name = David Bogle
	email = davidbogle.92@gmail.com

[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	hh = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --max-count=10
	unstage = reset HEAD --

[core]
	editor = vim
	excludesfile = /Users/david/.gitignore_global
